/* https://coolors.co/000814-001d3d-003566-ffc300-ffd60a */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #0178a0;
    font-family: 'Rubik', sans-serif;
}


#listen-badyear img {
    height: 300px;
    width: 300px;
}

.listen-links {
    display: block;
    margin: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Main Nav set to display none for mobile layout */
.main-nav {
    display: none; 
}

/* Mobile navigation styling */
.mobile-nav {
  overflow: hidden;
  background-color: #0178a0;
  position: relative;
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.collapsed {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.collapsed a {
    grid-column-start: 2;
    grid-column-end: 3;
}

#mobile-logo-link {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
}

#mobile-logo {
    width: 100px;
    height: 60px;
    padding: 0px;
    padding-right: 10px;
    padding-top: 10px;
    float: right;
}

#hamburgerIcon {
    fill: yellow;
    position: absolute;
    top: 15px;
    left: 15px;   
    display: inline-block; 
    grid-column: span 2;
}

#mobile-nav-items {
    width: 100%;
    margin-left: 0;
    display: none;
    list-style-type: none;
    text-align: center;
    grid-column: span 2;
}

#mobile-nav-items.active {
    display: block;
    background-color: #0178a0;
}

#mobile-nav-items.active a {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: yellow;
    text-transform: uppercase;
    font-size: 40px;
}


main {
    grid-column: span 2;
}

#fullband {
    height: 400px;
    width: 100%;
}

.contact p  {
    color: #fff;
    text-align: center;
}

.contact a {
    color: #fff;
}

.contact a:hover {
    color: yellow;
}

/* Section titles styling */
h2 {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
    width: 100%;
}

/*About Section*/
p {
    color: #fff;
    padding: 20px;
}


/* Music section styling */
.music-cards, .tour-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.music-card, .tour-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}


.music-card img {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

h4 {
    text-align: center;
    color: white;
    width: 50%;
    margin: auto;
}

.music-card-listen-button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

.listenBtn {
    text-decoration: none;
    text-transform: uppercase;
}

.listenBtn:hover {
    border: 2px solid black;
}

.listenBtn:active {
    border-radius: 0;
}

.music-card a {
    padding: 5px;
    background-color: yellow;
    color: black;
    border-radius: 10px;
}

.tour-card {
    border: 2px solid white;
    background-color: grey;
    color: #fff;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    min-width: 200px;
}

.tour-card h3 {
    padding: 5px; 
}

.tour-card p {
    margin: 0;
    padding: 0;
}

.tour-card .more-info {
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
}

.tour-card .more-info a {
    text-decoration: none;
    color: #fff;
}

.more-info a:hover {
    color: yellow;
}

.more-info a:active {
    text-decoration: underline;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    color: black;
}

.btn:hover {
    background-color: gray;
}

aside {
    grid-column: span 2;
}

.social-media {
    text-align: center;
    overflow: hidden;
}

.icon {
    color: black;
    fill: white;
    width: 2em;
    height: 2em;
    padding: 5px;
    margin-bottom: 0;
}

.social-media a {
    color: #0178a0;
}

.icon:hover {
    fill: yellow;
}

.about p {
    padding: 20px;
}

@media (min-width: 720px) {
    .wrapper {
        grid-template-columns: repeat(12, 1fr);
        grid-column: span 12;
    }

    .mobile-nav {
        display: none;
    }

    .main-nav {
        grid-column: span 12;
        width: 100%;
        height: 75px;
        background-color: #0178a0;
        display: flex;
    }

    #desktop-logo {
        width: 125px;
        height: 75px;
    }

    #main-nav-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        padding-left: 100px;
    }

    #main-nav-items a {
        display: inline-block;
        color: yellow;
        padding-right: 30px;
        padding-bottom: 10px;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
    } 

    #main-nav-items a:hover {
        text-decoration: underline;
    }

    main {
        grid-column: span 12;
        max-width: 1000px;
        margin: auto;
    }

    h2 {
        grid-column: span 12;
        width: 100%;
    }

    .music-cards, .tour-cards {
        grid-column: span 12;
        justify-content: center;
        width: 100%;
    }

    .tour-card, .music-card {
        max-width: 250px;
        justify-content: space-between;
    }

    .about {
        width: 1000px;
        margin: auto;
    }

    .social-media {
        margin: auto;
        grid-column: span 12;
    }

}