/* https://coolors.co/000814-001d3d-003566-ffc300-ffd60a */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #000;
}

/* Main Nav set to display none for mobile layout */
.main-nav {
    display: none; 
}

/* Mobile navigation styling */
.mobile-nav {
  overflow: hidden;
  background-color: grey;
  position: relative;
}

#mobile-nav-items {
    background-color: grey;
    width: 100%;
    margin-left: 0;
    display: none;
    list-style-type: none;
    text-align: center;
}

#mobile-nav-items.active {
    display: block;
    background-color: grey;
}

#mobile-nav-items.active a {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-transform: uppercase;
}

#mobile-logo {
    width: 75px;
    height: 75px;
    margin: auto;
}

#hamburgerIcon {
    fill: #fff;
    position: absolute;
    top: 10px;
    right: 10px;    
}

/* Section titles styling */
h2 {
    color: white;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
}

/* Music section styling */
#bad-year {
    width: 100px;
    height: 100px;
    margin: auto;
}

h3 {
    text-align: center;
    color: white;
}

@media (min-width: 720px) {
    .mobile-nav {
        display: none;
    }

    .main-nav {
        display: inline-block;
        width: 100%;
        background-color: grey;
    }

    #desktop-logo {
        width: 100px;
        height: 100px;
        display: inline;
    }

    #main-nav-items {
        display: inline;
        text-align: center;
    }

    #main-nav-items a {
        display: inline-block;
        color: #fff;
        padding-right: 20px;
    }

}